@use '../utils.scss';

.restaurant-item {
    display: block;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
    background-color: transparent;
    border: none;
    text-align: left;
    margin-bottom: 5rem;
    text-decoration: none;
    
    &:hover, &:focus {
        background-color: rgb(243, 243, 243);
    }

    &:hover .restaurant-image {
        width: 120%;
    }

    &:focus .restaurant-image {
        width: 120%;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        background-color: gray;
        transition: all .5s;
    }

    .content {
        padding: 1rem;
        position: relative;

        &-rating {
            position: absolute;
            background-color: $primary-color;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            border-radius: 100%;
            box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: .3);
            
            font-size: 2rem;
            left: 2rem;
            top: -2rem;
            width: 5rem;
            height: 5rem;
        }
        
        &-name {
            margin-top: 4rem;
            font-size: 2rem;
            font-weight: 500;
        }

        &-description {
            font-size: 1.6rem;
            color: $gray-light;
        }

        &-city {
            margin-top: 2rem;
            background-color: $primary-color;
            color: white;
            padding: .5rem 1rem;
            border-radius: .5rem;
            font-size: 2rem;
        }
    }
}