@use '../utils.scss';

foods-page {
  .jumbotron {
      width: 100vw;
      height: 100vh;
      position: relative;
      background-color: $gray-lighter;
      
      &-background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: top;
        filter: grayscale(.8);
      }
  
      a {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        color: $primary-color;
        border: none;
        padding: 1rem 2rem;
        border-radius: .5rem;
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s;
        opacity: .4;
        text-decoration: none ;
  
        &:hover {
          opacity: 1;
        }
  
        &:focus {
          opacity: 1;
        }
      }
    
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    
        h1 {
          color: $primary-color;
          font-size: 4rem;
          text-align: center;
        }
    
        img {
          margin-top: 1rem;
          width: 200px;
        }
      }
  }
    
  .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    @media (min-width: $sm){  }
    @media (min-width: $md){  }
    @media (min-width: $lg){ 
      flex-direction: row;
      margin-bottom: 0;
    }
    @media (min-width: $xl){  }
    @media (min-width: $xxl){  }
    
    .welcome {
      font-size: 3rem;
      color: $primary-color;
      text-transform: capitalize;
    }
    
    .welcome-desc {
      font-size: 1.5rem;
      color: $gray-light;
      text-transform: capitalize;
    }
  }
}